.toolbarMenuLinkAnchor {
  text-decoration: none;
}

.toolbarMenuLinkContainer {
  margin: 16px 0;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}

.toolbarMenuLinkText {
  margin: 0;
  color: #030363;
  font-size: 1.5rem;
  font-weight: 600;
}

.toolbarMenuLinkChevron {
  margin: calc((1.5rem * var(--line-height) - 1.5rem) / 2) 0;
  width: 1.5rem;
  height: 1.5rem;
  fill: #030363;
}
