.background {
  width: 100%;
  height: 100%;
  background-color: #00000044;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.dialog {
  margin: 50px auto;
  border: solid 1px #e8e8ff;
  border-radius: 10px;
  width: calc(100vw - 100px - 2px);
  max-width: calc(1200px - 100px - 2px);
  height: calc(100vh - 100px - 2px);
  background-color: #f4f4ff;
  box-shadow: 0 6px 10px #00000044;
  overflow: hidden;
}

.toolbar {
  border-bottom: solid 1px #e8e8ff;
  background-color: #ffffff;
}

.closeButton {
  padding: 16px;
  border: none;
  border-radius: 0;
  background-color: #ffffff;
  display: flex;
  gap: 8px;
  transition: background-color 0.2s ease-out;
}

.closeButton:hover {
  background-color: #f4f4ff;
}

.closeButtonIcon {
  width: 1rem;
  height: 1rem;
  fill: #030363;
}

.closeButtonText {
  margin: 0;
  color: #030363;
  font-size: 1rem;
  line-height: 1;
}
