.link {
  text-decoration: none;
}

.background {
  background-color: #030363;
  box-shadow: 0 0 0 #bbbbbb;
  margin-top: var(--standard-margin-vertical);
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
}

.background:hover {
  background-color: #050594;
  box-shadow: 0 6px 10px #dddddd;
}

.text {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  line-height: 1;
}

.chevron {
  fill: #ffffff;
  height: 1.25rem;
  transition: transform 0.2s ease-out;
}

.background:hover .chevron {
  transform: translateX(50%);
}
