.container {
  margin: var(--standard-margin-vertical) 0;
  background-color: #f0f7ff;
  border: solid 1px #d9ebff;
  border-radius: 10px;
  padding: 20px;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.titleIcon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #002b5b;
}

.titleText {
  margin: 0;
  color: #002b5b;
  font-weight: 600;
}
