@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
  --main-line-height: 1.65;
  --main-standard-margin-vertical: calc(1rem * var(--main-line-height));
}

* {
  color: #111111;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}

body {
  background-color: #f4f4ff;
  line-height: var(--main-line-height);
}

a {
  color: #0000bc;
}

a:visited {
  color: #525294;
}

hr {
  margin: 50px 0;
  border: solid 1px #ddddff;
}

h1 {
  font-size: 3rem;
  font-weight: 800;

  margin-top: calc(3rem * var(--main-line-height));
  margin-bottom: var(--main-standard-margin-vertical);
}

h2 {
  font-size: 2rem;
  font-weight: 700;

  margin-top: calc(2rem * var(--main-line-height));
  margin-bottom: var(--main-standard-margin-vertical);
}

li {
  font-size: 1rem;
  margin: calc(0.33rem * var(--main-line-height)) 0;
}

ul {
  margin: var(--main-standard-margin-vertical) 0;
}
